<div class="mx-auto flex flex-wrap py-6 items-center justify-center">
  <section class="w-full md:w-2/3 flex flex-col items-center">
    <h1 class="font-bold text-2xl">Admin Login</h1>
    <% if (typeof error !== 'undefined') {
      %>
      <div class="bg-red-500 text-white font-bold px-4 py-3 rounded-md mt-4">
        <%= error %>
      </div>
      <%
    }%>
    <form action="/admin/login" method="POST" class="my-4">
      <div class="mb-3">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input type="text" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="mb-3">
        <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
        <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button class="text-white bg-blue-800 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Submit</button>

    </form>
  </section>
</div>